.new{

background: green;
width: 200px;

}

#po{
background: yellow;
width: 250px;
border: 5px solid red;
border-radius: 20px;

}


.ta{

background: orange;
width: 300px;
border: 3px double yellow;
margin: 0px 0px 0px 0px;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;


}


#ra{
background: greenyellow;
width: 650px;

}

.ii{

color: brown;
}
h2{

    color: aqua;
}


#tt{

    color: blue;
}

h6{
    color: blueviolet;
}
#rr{
    color: brown;
}

.bb{
    color: blue;
}




































